body
{
}

ul{
    position: absolute; 
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden; 
    background-color:lightsteelblue; 
    width: 100%;

}

li a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

li{
    float: left;
}

li a:hover{
    background-color:cadetblue;
}

.active{
    background-color:rebeccapurple;
}
.nav{
    color:white;
    text-decoration: none;
}
.navbuttons
{
    transition: all 0.5s ease;
}
.image {
    height: 100%;
    width: 100%;
}

